<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="stylesheet" href="/static/layui/css/login.css">
</head>
<body style="background-image: url('/static/layui/images/login.png'); background-size: cover;">
    <div class="container">
        <h1>风刃Web漏洞扫描系统登录</h1>
        
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form method="POST">
            <div class="form-group">
                <label for="username">用户名：</label>
                <input type="text" id="username" name="username" required>
            </div>
            
            <div class="form-group">
                <label for="password">密码：</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit">登录</button>
        </form>
        
        <div class="register-link">
            <p>还没有账号？<a href="{{ url_for('auth.register') }}">立即注册</a></p>
        </div>
        <div class="copyright" style="color: white; padding-top: 20px;">
            &copy; 2025 风刃Web漏洞扫描系统 | 采用 <a href="https://layui.dev/" target="_blank" style="color: aqua;" >Layui框架</a> 开发
        </div>
    </div>
</body>
</html>